* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

/***************************************
By default html font size is set to 16px
But for this project:
 - We need 1rem = 10px for easy resizing/measuring hence:
   1. 10/16 = 0.625
   2. 0.625 * 100 = 62.5%
   3. Use 62.5% of the default html font size to get a 10px font size
*****************************************/
html {
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: repeat(4, min-content);
  row-gap: 1.6rem;
  background-color: color(tertiary);
}
